<div class="p-mt-3">
    <p-card>
        <div class="p-grid">
            <div class="p-col-2">
                <p-avatar image="./assets/img/usuario.png" size="xlarge" shape="circle"></p-avatar>
            </div>
            <div class="p-col-10">
                <a href="#">Pagina web - Aitue</a>
                <p>Necesitamos una nuevas imagenes</p>
                <div class="p-d-flex p-jc-end">
                    <small>07 de julio 2021</small>
                </div>
            </div>
        </div>
    </p-card>
</div>

